.contact {
    padding-top: 20px;
    color: white;
    list-style-type: none;
}
#navbarSupportedContent {
    align-items: right;
    color: white;
}
h2 {
    color: rgb(63, 63, 63);
}
.row {
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
.clear {
    clear: both;
}
footer {
    color: white;    
}